extends layout

block content  
  
  div(data-role='page', data-theme='b', data-content-theme='b')
    div(data-role='header')
      a(data-icon='gear') #{username}
      h1= title
      a(href='/logout', class='ui-btn-right') Log out
    div(data-role='main', class='container')      
      h3 Your Tracks 
      
      div(class='ui-block-a', style='width:30%') 
        ul(id='tracks')
          // for testing only          
          each val in tracklist
            li
              a= val
    
      div(id='map', class='ui-block-b')
        p(id='mapinfo') No track to display

      div(id='data', class='ui-block-a')
        br
        // todo: add distance, avg speed, ...
      
      h3(class='ui-block-a') Add new track
      form(action='/addtrack', method='post', enctype='multipart/form-data', data-ajax='false') 
        div(class='ui-block-a', style='width:75%') 
          input(type='file', name='gpxfile', required)
        div(class='ui-block-b', style='width:25%')
          input(type='submit', value='Upload')
          
    div(type='hidden', id='track', data-id='#{trackpoints}')
    script(src='/javascripts/map.js')  
    
  