extends layout

block content
  div(data-role='page', data-theme='b', data-content-theme='b')
    div(data-role='header')
      a(data-icon='gear') #{username}
      h1= title
      a(href='/logout', class='ui-btn-right') Log out
    div(data-role='main', class='container')      
      h3 Your Tracks 
      
      div(class='ui-block-a', style='width:30%') 
        ul(id='tracks')
          // for testing only
          each val, index in tracklist
            li
              a= index + ': ' + val
    
      img(id='map', src='' style='width:600px')
      
      
      h3 Add new track
      form(action='/addtrack', method='post', enctype='multipart/form-data', data-ajax='false') 
        div(class='ui-block-a', style='width:75%') 
          input(type='file', name='gpxfile', required)
        div(class='ui-block-b', style='width:25%')
          input(type='submit', value='Upload')
    
  