extends layout

block content
  div(data-role='page', data-theme='b', data-content-theme='b')
    div(data-role='header')
      h1 #{title} login
    div(data-role='main' class='login')
      form(action="/login",method="post")
        input(type="text",name="username",placeholder='Username',required)
        //label Password
        //input(type="password",name="password",required,min="8")
        br
        input(type="submit",value="Log in")

      if error
        br
        p(id='error') #{error}
      br

      p Not registered yet?
      a(href='/register') Register here