body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
  
.login
  width: 300px
  margin: 0 auto
  
.container
  width: 90%
  height: 90%
  margin: 0 auto

#error
  color: red
  font: 20px
  
#tracks
  float: left
  overflow-y: auto
  margin-top: 15px
  height: 600px
  width: 100%
  
#notracks
  float: left
  margin-top: 20px
  height: 600px
  
#map
  background-color:darkgray
  width: 640px
  height: 640px

#mapinfo
  position: relative
  top: 45%
  left: 35%
  font: 20px
  color: black
  
#description
  margin-left: 20px
  word-break: break-all
  white-space: normal

th,td 
  width: 30%
  text-align: center
  
@media all and (min-width: 1024px)
  .ui-content 
    width: 1024px !important;
    margin: 0 auto
  .my-breakpoint-2.ui-grid-b .ui-block-a 
    width: 75%
    float: left  
  .my-breakpoint-2.ui-grid-b .ui-block-b 
    width: 25%
    float: left  
  .my-breakpoint-2.ui-grid-b .ui-block-c 
    width: 50%
    float: left
    
@media all and (max-width: 1023px)
  #tracks
    height: 140px
    margin-top: 0px
    margin-bottom: 10px
  #notracks
    height: 100px
    margin-top: 0px
  #map
    width: 90%
    height: 0
    padding-bottom: 90%
    margin: 20px auto
  .my-breakpoint.ui-grid-b .ui-block-a 
    width: 100%
    float: left   
  .my-breakpoint.ui-grid-b .ui-block-b 
    width: 100%
    float: left
  .my-breakpoint-2.ui-grid-b .ui-block-a 
    width: 100%
    float: left   
  .my-breakpoint-2.ui-grid-b .ui-block-b 
    width: 100%
    float: left  
  .my-breakpoint-2.ui-grid-b .ui-block-c 
    width: 100%
    float: left