body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.login {
  width: 400px;
  margin: 0 auto;
}
.container {
  width: 80%;
  margin: 0 auto;
}
#error {
  color: #f00;
  font: 20px;
}
#tracks {
  float: left;
  padding: 20px;
}
#map {
  width: 600px;
  height: 600px;
  background-color: #a9a9a9;
}
#mapinfo {
  position: relative;
  top: 45%;
  left: 35%;
  font: 20px;
  color: #000;
}
th,
td {
  width: 30%;
}
